*.html linguist-detectable=false
*.png linguist-detectable=false
*.jpeg linguist-detectable=false
*.ico linguist-detectable=false
*.properties linguist-detectable=false
*.xml linguist-detectable=false
*.gif linguist-detectable=false

